@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

header {
  background: #23475b;
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  height: 50px;
}

.logo {
  font-family: "Nunito", sans-serif;
  height: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu ul {
  padding: 0 7px;
}

.menu ul a {
  color: white;
  font-weight: 15px;
  text-decoration: none;
}

.menu ul button {
  background: #98ca3f;
  border: none;
  color: white;
  border-radius: 4px;
  border-bottom: 2px solid #6d932b;
  padding: 5px 10px;
}

.menu:after {
  margin-top: -3px;
  content: "|";
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.search {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  padding-right: 20px;
}

.search input {
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  font-size: 14px;
  border: 1px solid #dbdbe2;
}

.search img {
  padding-left: 5px;
}

.hero {
  background: #23475b;
  color: white;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 70px 1fr 320px;
  grid-template-areas:
    "badge title form"
    ". description form"
    ". countdown form";
  grid-gap: 10px;
}

.badge {
  grid-area: badge;
}

.badge img {
  max-width: 70px;
}

.title {
  grid-area: title;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}

.form {
  grid-area: form;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5em;
  border-radius: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbdbe2;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form p {
  font-size: 20px;
  color: #3a3b3f;
  margin-bottom: 1em;
}

.form button {
  background: #98ca3f;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  border-bottom: 5px solid #6d932b;
  display: inline-block;
}

.countdown {
  grid-area: countdown;
}

.countdown p {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.countdown span {
  font-size: 33px;
}

.countdown span:after {
  content: ":";
  display: inline-block;
  margin: 0 5px;
}

.countdown span:last-child:after {
  display: none;
}

p {
  margin: 0;
}

.description {
  grid-area: description;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 70px 1fr;
  }

  .logo {
    /* border: 1px solid red; */
  }

  .menu {
    padding-right: 7px;
  }
  .menu ul {
    padding: 0 5px;
  }

  .menu:after {
    display: none;
  }

  .search {
    display: none;
  }

  .hero-container {
    grid-template-columns: 70px 1fr;
    grid-template-areas:
      "badge title"
      "description description"
      "form form"
      "countdown countdown";
  }

  .description {
    padding: 0 0 10px 0;
  }

  .countdown {
    padding: 10px 0 0 0;
  }
}
