@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100px;
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}

section .box {
  position: absolute;
  top: 60%;
  left: 50%;
  max-width: 700px;
  transform: translate(-50%, -50%);
}

section .box img {
  max-width: 100%;
}

section .text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 3em;
  font-weight: 400;
}

section .text span {
  color: #16b716;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 0;
    margin: 0;
  }

  section .box {
    position: absolute;
    top: 20%;
    left: 50%;
    max-width: 600px;
    transform: translate(-50%, -50%);
  }