@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}
a {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  font-size: 60px;
  transform: scaleX(0);
  animation: lana 0.8s forwards;
}
@keyframes lana {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
a::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  animation: lan 0.8s 0.3s forwards;
}
a::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  transform: scaleX(1);
  transform-origin: right;
  animation: lan 0.8s 0.3s forwards;
}
@keyframes lan {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
a span {
  display: block;
  position: absolute;
  background: #000;
  border-radius: 50px;
}
a span:nth-child(1) {
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
  animation: line1 0.5s forwards;
  animation-delay: 1s;
}
@keyframes line1 {
  from {
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  to {
    transform: scaleX(1);
    transition: 0.5s;
  }
}
a span:nth-child(2) {
  right: 0;
  bottom: 0;
  width: 6px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s 0.5s;
  animation: line2 0.4s forwards;
  animation-delay: 1.5s;
}

@keyframes line2 {
  from {
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s 0.5s;
  }
  to {
    transform: scaleY(1);
    transition: 0.4s 0.5s;
  }
}
a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s 1s;
  animation: line3 0.3s forwards;
  animation-delay: 1.8s;
}
@keyframes line3 {
  from {
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s 1s;
  }
  to {
    transform: scaleX(1);
    transition: 0.3s 1s;
  }
}
a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.5s 1.5s;
  animation: line4 0.2s forwards;
  animation-delay: 2.1s;
}
@keyframes line4 {
  from {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.2s 1.5s;
  }
  to {
    transform: scaleY(1);
    transition: 0.2s 1.5s;
  }
}

@media only screen and (max-width: 600px) {
  a {
    font-size: 26px;
    padding: 10px 20px;
  }
  a span:nth-child(1) {
    height: 3px;
  }
  a span:nth-child(2) {
    width: 3px;
  }
  a span:nth-child(3) {
    height: 3px;
  }
  a span:nth-child(4) {
    width: 3px;
  }
}
